<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{appTitle}
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300|Work+Sans")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i")
    link(rel="stylesheet", href="css/style.css")
  body
    header.header.header--main
      h1.heading.heading--main iFriend
    main
      .phone-case
        ul.chat-field.messages
      form.chat-form.msg(action="")
        input#message.msg__input(type="text")
        button.msg__btn.btn Send
  script(src="js/client.js")